@font-face {
    font-family: 'helveticaocr';
    src: url('/static/fonts/helveticaocr/helveticaocr-medium.woff2') format('woff2'),
         url('static/fonts/helveticaocr/helveticaocr-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




