*{
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0px;    
    color: #000;
    font-weight: 400;
    font-family: Arial, sans-serif;
    line-height: 16px;
    font-size: 14px;
}
img
{
    width: 100%;
}

blockquote {
    margin-left: 80px;
    margin-right: 0px;
}
h1, h2{
    font-size: 1em;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #000;
}
:root {
  --print-margin-top: 17.5mm;
  --print-margin-outer: 10mm;
  --print-margin-bottom: 17.5mm;
  --print-margin-inner: 30mm;

}
#main,
.print-content {
    margin: 20px;
    padding-bottom: 80px;
}

.serif
{
    font-family: Times, serif;
}
#display {
    text-align: center;
    font-size: 60px;
    overflow: hidden;
    height: 100vh;
}
/*#display[chapter='3'],
#image-container[chapter='3']
{
    background-color: #000;
}*/
#text-container:after,
#image-container:after
{
    /*content: ' ';
    height: 200vh;
    display: block;
    background-color: #444;
*/}
#text-container a
{
    text-decoration: underline;
}
#text-container a:hover
{
    text-decoration: none;
}
#slide_display{
    /*margin: 20px;*/
    /*height: calc( 100vh - 40px);*/
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    box-sizing: border-box;
}
#display_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#control_display{
    position: fixed;
    top:20px;
    right: 20px;
    display: none;
    z-index: 100;
}

#home_container{
    width: 1000px;
    padding: 50px;
    text-align: center;
}
#colophon_container,
#home_container{
    width: 900px;
    margin: 0 auto;
}
#nav
{
    position: fixed;
    top: 10px;
    right: 10px;
}
.colophon_col{
    display: inline-block;
    width: calc((100% - 40px) / 2);
    vertical-align: top;
}
.colophon_col:last-child{
    margin-left: 40px;
}
.colophon_row{
    padding: 2px 0;
}
.colophon_row > p{
    display: inline-block;
    vertical-align: top;
}
.colophon_bullet{
    width: 40px;
}
.colophon_bullet + .colophon_text{
    width: calc(100% - 60px);
    margin-left: 20px;
}
.colophon_year{
    width: 90px;
}
.colophon_year + .colophon_text{
    width: calc(100% - 110px);
    margin-left: 20px;
}
.indent-1{
    margin-left: 40px;
}
.indent-2{
    margin-left: 80px;
}
#column_container{
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
}
.column {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /* width: 33vw; */
    white-space: initial;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
}
#black_screen{
    background-color: #000;
    color: #fff;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
}
#black_screen p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#black_screen.flashing{
    display: block;
    animation: flashing 6s linear;
}
#audio_container{
    height: 100vh;
    background-color: #00F;
}
#audio_container audio{
    width: 100%;
    height: 100%;
}
#text-container, 
#allcaps-container,
.mask-text-container,
.text-container,
#appendix-container
{
    font-size: 16px;
    line-height: 20px
}
/*#text-container{
    padding-top: 15px;
}*/
/*#text-container > div
{
    margin: 0 12px;
}*/
.justify_block{
    text-align: justify;
    text-justify: inter-word;
}
#text-container > div.image_anchor
{
    height: 300px;
    margin: 20px 40px;
    border: 1px solid #000;
    transition: opacity .25s;
    background-color: #000;
}
#allcaps-container > div.image_anchor
{
    height: 300px;
    margin: 20px 40px;
}
.image_anchor.viewing
{
    opacity: 0;

}
#image-container{
    position: relative;
    /*height: 100vh;*/
}

#radio_container{
    overflow: hidden;
    height: 100vh;
    background-color: #CCC;
    text-align: center;
    /*color: #fff;*/
}
#radio_text
{
    text-align: center;
    font-size: 150px;
    line-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*position: absolute;
    top: 50%;
    width: auto;
    white-space: nowrap;
    padding-right: 100vw;
    padding-left: 100vw;
    animation: marquee 600s infinite linear;*/
}
#text-container span.allcaps,
#text-container .allcaps span{
    /*opacity: 0;*/
    background-color: #000;
    /*color: transparent;*/
    /*border: 1px solid #000;*/
}
#allcaps-container
{
    color: transparent;
    padding-top: calc(50vh + 15px);
}
#allcaps-container > div
{
    padding: 0 12px;
}
#allcaps-container .image_anchor
{
    border: none;
}
.mask-text-container
{
    position: absolute;
    top: 0;
    left:0;
    /*margin: 20px;*/
    /*color: #00f;*/
    color: rgba(0,0,0,0);
    pointer-events: none;
    z-index: 100;
    padding-bottom: 80px;
}
.mask-text-container .chapter-number,
.mask-text-container .section
{
    color: #000;
}
.mask-text-container a
{
    color: transparent;
}
.allcaps.viewing{
    /*display: inline-block;*/
    opacity: 1;
    color: #000;
    animation: flashing-color 1.5s forwards linear;
    position: relative;
    top: -50%;
    /*transform: translate(0, -50%);*/
}

.main-link
{
    width: 50%;
    display: inline-block;
}
#colophon-link{
    display: inline-block;
    margin-top: 50px;
}
.radio_image
{
    width: initial;
    height: calc(100% - 40px);
    margin-top: 20px;
    cursor: pointer;
}
.radio_image.not_current
{
    display: none;
}
.radio_image.whitespace
{
    display: none;
}

.image-holder
{
    /*padding: 0 40px;*/
}
.image-holder.centered
{
    margin: 0 auto;
}
.inline-image-holder img
{
    vertical-align: top;
}
.inline-image-holder[images='2'] img
{
    box-sizing: border-box;
    width: 50%;
    padding: 15px;
}
.inline-image-holder[images='3'] img
{
    box-sizing: border-box;
    width: 33%;
    padding: 5px;
}
.inline-image-holder[images='8'] img
{
    box-sizing: border-box;
    width: 12.5%;
    padding: 5px;
}
.overlap-image-holder
{
    position: relative;
}
.overlap-image-holder img
{
    position: absolute;
    /*top: 0;*/
    left: 0;
    width: 100%;
}
.overlap-image-holder[zindex='-1']
{
    z-index: -1;   
}
.overlap-image-holder[zindex='1']
{
    z-index: 1;   
}
.image-float-container:after
{
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
#image-holder-1
{
    /*padding-top: 60px;*/
    display: none;
}
#image-holder-2
{
    width: 500px;
    padding-left: 250px;
    padding-top: 626px;
    padding-right:0;
    /*margin-top: 566px;*/
}
#image-holder-3
{
    width: 500px;
    /*margin-left: 250px;*/
    margin-top: 60px;
}
#image-holder-29
{
    width: 350px;
    padding-top: 180px;
}
#image-holder-4
{
    padding-top: 150px;
    /*width: 400px;*/
}
#image-holder-4 img
{
    width: 300px;
}
#image-holder-4 img:last-of-type
{
    float:right;
}
#audio-holder-1
{
    padding-top: 30px;
}
#audio-1
{
    float: left;
}
#audio-2
{
    float: right;
}
#image-holder-5
{
    padding-top: 145px;
    /*width: 400px;*/
}
#image-holder-6
{
    padding-top: 400px; 
    width: 400px;
    float: left;
}
#image-holder-30
{
    padding-top: 600px; 
    width: 300px;
    float: right;
}
#image-holder-31
{
    padding-top: 150px; 
    padding-left: 60px;
    width: 300px;
    float: left;
}
#image-holder-31 > img:first-child
{
    padding-left: 0;
}
#image-holder-31 > img:last-child
{
    padding-right: 0;
}
#image-holder-32
{
    padding-top:0px;
}
#image-holder-33
{
    margin-top: -30px;
}
#image-holder-33 img {
    width: 300px;
    padding-right: 40px;
    float: right;
}



#image-holder-7
{
    padding-top: 0px;
    /*width: 500px;*/
}
#image-holder-7 img:first-of-type
{
    padding-top: 140px;
}
#image-holder-34 {
    padding-top: 20px;
    width: 350px;
}
#audio-holder-2
{
    /*margin-top: 100px;*/
}
#image-holder-8
{
    padding-top: 770px;
    width: 400px;
    /*margin-top: -50px;*/
}

#image-holder-9
{
    width: 600px;
    padding-left: 150px;
    padding-top: 300px;
    z-index: 5;
    position: relative;
}
#image-holder-10
{
    margin-top: 450px;
    margin-right: 50px;   
    position: relative;
    z-index: 5;
}
#image-holder-10 img
{
    width: 300px;
    float: right;
}
#image-holder-11
{
    padding-top: 600px;
    /*margin-left: 200px;*/
    margin-left: 50px;
    padding-right: 0;
    width: 550px;
}
#image-holder-12
{
    padding-top: 500px;
}
#image-holder-12 img
{
    width: 550px;
    float: right;
}
#image-holder-13
{
    padding-top: 50px;
    /*padding-left: 200px;*/
    width: 650px;
}
#image-holder-35
{
    width: 300px;
    padding-top: 40px;
}
#image-holder-36
{
    padding-top: 20px;
}
#image-holder-14
{
    padding-top: 120px;
    width: 700px;
}
#image-holder-14 img:last-of-type
{
    /*width: 32%;*/
    /*padding: 0 5px;*/
    /*display: inline-block;*/
    float: right;
}
#image-holder-15
{
    /*width: 500px;*/
    margin-left: 40px;
    margin-top: -60px;
    position: relative;
}
#image-holder-15 img
{
    width: 100px;
    float: right;
    margin-left: 15px;
}
#image-holder-15 img:nth-of-type(2)
{
    left:200px;
    top: 30px;
}
#image-holder-15 img:nth-of-type(3)
{
    left:400px;
    top: 100px;
}
#image-holder-37
{
    width: 500px;
    margin-left: 50px;
    /*top: -110px;*/
    position: relative;
}
#image-holder-37 img
{
    top: -100px;
    position: absolute;
    /*float: left;*/
}

#image-holder-16
{
    padding-top: 420px;
    width: 600px;
}
#image-holder-17{
    padding-top:350px;
}
#image-holder-17,
#image-holder-18,
#image-holder-19,
#image-holder-20,
#image-holder-21
{
    width: 600px;
    /*padding-top:20px;*/
    padding-bottom: 15px;
    
}
#image-holder-17,
#image-holder-19
{
    padding-left: 160px;
    padding-right: 0;
}
#image-holder-17 img,
#image-holder-18 img:first-child, #image-holder-18 img:nth-child(3),
#image-holder-19 img,
#image-holder-20 img:first-child, #image-holder-20 img:nth-child(3),
#image-holder-21 img:first-child, #image-holder-21 img:nth-child(3),
#image-holder-22 img,
#image-holder-23 img
{
    visibility: hidden;
}
#image-holder-21
{
    padding-left: 100px;
}
#image-holder-22,
#image-holder-23
{
    width: 200px;
    padding-left: 400px;
    padding-right: 0;

}
#image-holder-23
{
    padding-top: 50px;
    padding-left: 550px;
}
#image-holder-24
{
    margin-top: 450px;
}
#image-holder-24 img:first-of-type
{
    left: 40px;
    width: 250px;
}
#image-holder-24 img:nth-of-type(2)
{
    left: 330px;
    top: 220px;
    width: 250px;
}
#image-holder-24 img:nth-of-type(3)
{
    left: 70px;
    top: 350px;
    width: 235px;
}
#image-holder-24 img:nth-of-type(4)
{
    left: 400px;
    top: 450px;
    width: 250px;
}
#image-holder-24 img:nth-of-type(5)
{
    left: 450px;
    top: 530px;
    width: 235px;
}
#image-holder-24 img:nth-of-type(6)
{
    left: 150px;
    top: 700px;
    width: 250px;
}
#image-holder-25
{
    padding-top: 1000px;
    width: 550px;
    padding-left:190px;
}
#image-holder-26
{
    padding-top: 40px;
    width: 250px;
}
#image-holder-27 img:nth-of-type(1)
{
    right: 40px;
    left: initial;
    top: -150px;
    width: 300px;
}
#image-holder-27 img:nth-of-type(2)
{
    left: 120px;
    top: 70px;
    width: 120px;
}
#image-holder-27 img:nth-of-type(3)
{
    left: 235px;
    top: 120px;
    width: 120px;
}
#image-holder-27 img:nth-of-type(4)
{
    left: 120px;
    top: 230px;
    width: 120px;
}
#image-holder-27 img:nth-of-type(5)
{
    left: 235px;
    top: 240px;
    width: 220px;
}
#image-holder-27 img:nth-of-type(6)
{
    left: 60px;
    top: 320px;
    width: 220px;
}
#image-holder-27 img:nth-of-type(7)
{
    left: 70px;
    top: 450px;
    width: 210px;
}
#image-holder-27 img:nth-of-type(8)
{
    left: 300px;
    top: 400px;
    width: 140px;
}
#image-holder-39
{
    padding-top: 750px;
}
#image-holder-28
{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#image-holder-38
{
    float: right;
    padding-top: 500px;
}
#image-holder-38 img
{
    width: 300px;
    float: right;
}
#image-holder-40
{

}
#image-holder-40 img
{
    margin-top: 10px;
    width: initial;
    display: block;
}
#image-holder-40 img:first-child
{
    height: 96px;
     margin-top: 0;
}
#image-holder-40 img:nth-child(2)
{
    height: 126px;
    margin-left: 15%;
}
#image-holder-40 img:nth-child(3)
{
    height: 130px;
    margin-left: 30%;
}
#image-holder-40 img:nth-child(4)
{
    height: 99px;
    float: right;
    clear: both;
}
#image-holder-40 img:nth-child(5)
{
    height: 99px;
    float: right;
    clear: both;
}
#image-holder-40 img:nth-child(6)
{
    height: 96px;
    float: right;
    clear: both;
}
#audio-holder-3
{
    padding-top: 920px;
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*left: 200px;*/
    /*transform: translate(-50%, 0);*/
}
#chapter-nav
{
    position: fixed;
    top: 20px;
    right: 20px;
    list-style: none;
    font-size: 16px;
    line-height: 16px;
    z-index: 1000;
}
#chapter-nav li
{
    display: inline-block;
    padding: 0 5px 0px 5px;
    cursor: pointer;
}
#chapter-nav a:hover
{
    /*text-decoration: underline;*/
    border-bottom: 2px solid #000;
}
.head
{
    padding-top: 10px;
    margin-top: -10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
#print
{
    cursor:pointer;
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url(../../media/svg/bindery-logo40.svg);
}
.text-indent
{
    padding-left: 50px;
}
.text-indent-2
{
    padding-left: 100px;
}
.text-indent-3
{
    padding-left: 150px;
}
.text-indent-4
{
    padding-left: 200px;
}
.text-indent, .text-indent-2, .text-indent-3, .text-indent-4
{
    /*display: inline-block;*/
    /*position: absolute;*/
}
.audio-holder
{
    text-align: center;
    /*position: sticky;*/
    /*position: -webkit-sticky;*/
    /*top: 10px;*/
}
.📖-root .print-content
{
    margin: 0;
    position: relative;
    z-index: 5;
    padding-bottom: 0;
}
#measure-container .print-content
{

}
.print-image-holder
{
    position: absolute;
    z-index: 1;
}
.print-image-holder.fullWidth
{
    width: calc(210mm - (var(--print-margin-outer) + var(--print-margin-inner)));
}

.print-image-holder.halfWidth
{
    width: calc( (210mm - 10mm - ( var(--print-margin-outer) + var(--print-margin-inner))) / 2);
}
.print-image-holder.twoThirdWidth
{
    width: 66%;
}
.print-image-holder.centeredHorizontal
{
    left: 50%;
    transform: translate(-50%);
}
.print-image-holder.centeredFullPage
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*#print-image-holder-1
{
    display: none;
    top: 36mm;
    left: var(--print-margin-outer);
}
#print-image-holder-2
{
    display: none;
    top: 36mm;
    left: 100mm;
}*/
#print-image-holder-1
{
    /* h = 131.37mm */
    right: 30mm;
    bottom: 15mm;
}
#print-image-holder-2
{
    /* h = 131.37mm */
    right: 30mm;
    top: -91mm;
}
#print-image-holder-3
{
    top: 50mm;
    left: var(--print-margin-outer);
}
#print-image-holder-4
{
    top: 170mm;
}
#print-image-holder-5
{
    top: 75mm;
    left: var(--print-margin-outer);
}
#print-image-holder-6
{
    top: 75mm;
    right: var(--print-margin-inner);
}
#print-image-holder-7
{
    top: 140mm;
}
#print-image-holder-8
{
    top: 12mm;
    left: -5mm;
}
#print-image-holder-9
{
    bottom: 10mm;
    right: -5mm;
    width: 66%;
}
#print-image-holder-10
{
    top: 170mm;
    width: 30mm;
    left: var(--print-margin-outer);
}
#print-image-holder-11
{
    top: 170mm;
    width: 30mm;
    left: 43.25mm;
}
#print-image-holder-12
{
    width: 100%;
    top: 20mm;
}
#print-image-holder-13
{
    left: var(--print-margin-outer);
    top: 140mm;
}
#print-image-holder-14
{
    top: 110mm;
    right: var(--print-margin-inner);
}
#print-image-holder-15
{
    width: 30%;
    right: var(--print-margin-inner);
    top: 50mm;
}
#print-image-holder-16
{
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 135mm;
}

#print-image-holder-17
{
    left: 0mm;
    top: 70mm;
    width: 120mm;
}

#print-image-holder-18
{
    width: 45mm;
    top: 170mm;
    right: calc( var(--print-margin-inner) + 90mm + 6mm);
}

#print-image-holder-19
{
    width: 45mm;
    top: 170mm;
    right: calc( var(--print-margin-inner) + 45mm + 3mm);
}

#print-image-holder-20
{
    width: 45mm;
    top: 170mm;
    right: var(--print-margin-inner);
}
#print-image-holder-21
{
    top: 45mm;
    right: -5mm;
}
#print-image-holder-22
{
    width: 65%;
    top: 10mm;
    left: var(--print-margin-outer);
}
#print-image-holder-23
{
    top: 115mm;
    right: var(--print-margin-inner);
}
#print-image-holder-24
{
    left: var(--print-margin-outer);
    bottom: 30mm;
}
#print-image-holder-25
{
    width: 40%;
    top: 80mm;
}
#print-image-holder-26
{
    width: 185mm;
    left: 10mm;
    top: 195mm;
    
}
#print-image-holder-27
{
    width: 30mm;
    bottom: 10mm;
    right: calc( var(--print-margin-inner) + 60mm + 6mm);
}
#print-image-holder-28
{
    width: 30mm;
    bottom: 10mm;
    right: calc( var(--print-margin-inner) + 30mm + 3mm);
}
#print-image-holder-29
{
    width: 30mm;
    bottom: 10mm;
    right: var(--print-margin-inner);
}
#print-image-holder-30
{
    top: 10mm;
}
#print-image-holder-31
{
    top: 120mm;
    width: 66%;
    left: var(--print-margin-outer);
}
.print-americanphotographs-item
{
    width: 45mm;
}
#print-image-holder-32,
#print-image-holder-33,
#print-image-holder-34,
#print-image-holder-35,
#print-image-holder-37,
#print-image-holder-38,
#print-image-holder-39,
#print-image-holder-40,
#print-image-holder-41,
#print-image-holder-43,
#print-image-holder-44,
#print-image-holder-46,
#print-image-holder-47,
#print-image-holder-48
{
    visibility: hidden;
}
#print-image-holder-32
{
    top: 40mm;
    right: calc( var(--print-margin-inner) + 90mm + 6mm);
}
#print-image-holder-33
{
    top: 40mm;
    right: calc( var(--print-margin-inner) + 45mm + 3mm);
}
#print-image-holder-34
{
    top: 40mm;
    right: var(--print-margin-inner);
}
#print-image-holder-35
{
    top: 72mm;
    left: var(--print-margin-outer);
}
#print-image-holder-36
{
    top: 72mm;
    left: calc( var(--print-margin-outer) + 45mm + 3mm);
}
#print-image-holder-37
{
    top: 72mm;
    left: calc( var(--print-margin-outer) + 90mm + 6mm);
}
#print-image-holder-38
{
    top: 104mm;
    right: calc( var(--print-margin-inner) + 90mm + 6mm);
}
#print-image-holder-39
{
    top: 104mm;
    right: calc( var(--print-margin-inner) + 45mm + 3mm);
}
#print-image-holder-40
{
    top: 104mm;
    right: var(--print-margin-inner);
}
#print-image-holder-41
{
    top: 136mm;
    left: var(--print-margin-outer);
}
#print-image-holder-42
{
    top: 136mm;
    left: calc( var(--print-margin-outer) + 45mm + 3mm);
}
#print-image-holder-43
{
    top: 136mm;
    left: calc( var(--print-margin-outer) + 90mm + 6mm);
}
#print-image-holder-44
{
    top: 168mm;
    right: calc( var(--print-margin-inner) + 90mm + 6mm);
}
#print-image-holder-45
{
    top: 168mm;
    right: calc( var(--print-margin-inner) + 45mm + 3mm);
}
#print-image-holder-46
{
    top: 168mm;
    right: var(--print-margin-inner);
}
#print-image-holder-47
{
    top: 200mm;
    left: calc( var(--print-margin-outer) + 90mm + 6mm);
}
#print-image-holder-48
{
    top: 240mm;
    right: 15mm;
}
#print-image-holder-49
{
    width: 60mm;
    top: 105mm;
    left: 17mm;
}
#print-image-holder-50
{
    width: 60mm;
    top: 140mm;
    left: 85mm;
}
#print-image-holder-51
{
    width: 55mm;
    top: 170mm;
    left: 27mm
}
#print-image-holder-52
{
    width: 60mm;
    top: 190mm;
    right: 50mm;
}
#print-image-holder-53
{
    width: 57mm;
    top: 208mm;
    right: var(--print-margin-inner);
}
#print-image-holder-54
{
    width: 60mm;
    bottom: -10mm;
    right: calc( var(--print-margin-inner) + 65mm);
}
#print-image-holder-55
{
    width: 60mm;
    top: -45mm;
    right: calc( var(--print-margin-inner) + 65mm);
}
#print-image-holder-56
{
    top: 85mm;
    right: 15mm
}
#print-image-holder-57
{
    width: 40mm;
    bottom: 30mm;
}
#print-image-holder-58
{
    width: 60mm;
    right: var(--print-margin-inner);
    top: 10mm;
}
#print-image-holder-59
{
    width: 40mm;
    left: 50mm;
    top: 100mm;
}
#print-image-holder-60
{
    width: 40mm;
    left: 85mm;
    top: 115mm;
}
#print-image-holder-61
{
    width: 39mm;
    left: 31mm;
    top: 145mm;
}
#print-image-holder-62
{
    width: 65mm;
    left: 68mm;
    top: 150mm;
}
#print-image-holder-63
{
    width: 66mm;
    left: 20mm;
    top: 174mm;
}
#print-image-holder-64
{
    width: 62mm;
    left: 23mm;
    top: 210mm;
}
#print-image-holder-65
{
    width: 46mm;
    left: 90mm;
    top: 195mm;
}
#print-image-holder-66
{
    width: 185mm;
}
#print-image-holder-67
{
    width: 185mm;
}
#print-image-holder-68
{
    width: 185mm;
}
#print-image-holder-69
{
    width: 80mm;
    right: var(--print-margin-inner);
    top: 150mm;
}

#print_mask
{
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    z-index: 100;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}
.readyForPrint #print_mask
{
    display: none;
}
#print_mask p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.📖-controls
{
    visibility: hidden;
    height: 0;
    overflow: hidden;
}
.print-cover-img
{
    position: absolute;
    top:0;
    height: 100%;
    left: 0;
}
.print-content .image-container
{
    position: relative;
}
#zoom-in-container{
    white-space: nowrap;
}
#zoom-in-container img
{
    display: block;
}
#image-container img
{
    cursor: pointer;
}
#image-container .image-holder
{
    pointer-events: none;
}
#image-container .image-holder img
{
    pointer-events: initial;
}
#custom-book-controls
{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 500;
}
.printing #custom-book-controls,
.printing #print-btn
{
    display: none;
}

.📖-controls .📖-btn.📖-btn-print
{
    display: none;
}
#print-btn
{
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 8px 12px;
    z-index: 1000;
    cursor: pointer;

}
.print-test-sheet
{
    height: 283mm;
    width: 202mm;
}
.print-test-content
{
    width: 100%;
    height: 100%;
    /*border: 1px solid #000;*/
}
.print-test-sheet:nth-of-type(2n) .print-test-content
{
    background-color: blue;
}
.print-test-sheet:nth-of-type(2n+1) .print-test-content
{
    background-color: red;
}
/*body.overflow-hidden
{
    overflow: visible;
}*/
/*style for print layout*/

/*div > div
{
    margin-left: 50px;
}*/
#text-image-toggle
{
    width: 40px;
    height: 50px;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}
.hasTouchScreen #text-image-toggle
{
    display: block;
}
#inner
{
    position: relative;
    height: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
}
.viewing-image #inner
{
    transform: rotateY(180deg);
}
#front, #back
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#back{
    transform: rotateY(180deg);
}
.viewing-text .mask-text-container
{
    color: #000;
    pointer-events: initial;
}
.viewing-text .image-holder,
.viewing-text .audio-holder
{
    visibility: hidden;
}
@page {
margin: 0cm !important;
}
@keyframes flashing
{
    0%{
        background-color: #000;
    }
    19%{
        background-color: #000;
    }
    20%{
        background-color: #fff;
    }
    39%{
        background-color: #fff;
    }
    40%
    {
        background-color: #000;
    }
    59%{
        background-color: #000;
    }
    60%{
        background-color: #fff;
    }
    79%{
        background-color: #fff;
    }
    80%{
        background-color: #000;
    }
    99%{
        background-color: #000;
    }
    100%{
        background-color: #fff;
    }
}
@keyframes flashing-color
{
    0%{
        color: #fff;
    }
    19%{
        color: #fff;
    }
    20%{
        color: #000;
    }
    39%{
        color: #000;
    }
    40%
    {
        color: #fff;
    }
    59%{
        color: #fff;
    }
    60%{
        color: #000;
    }
    79%{
        color: #000;
    }
    80%{
        color: #fff;
    }
    99%{
        color: #fff;
    }
    100%{
        color: #000;
    }
}

@media screen and (max-width: 768px) {
    #column_container{
        width: 100%;
    }
    .column {
        display: block;
        width: 100%;
    }
    #radio_container
    {
        position: relative;
        /*padding: 20px;*/
    }
    .radio_image
    {
        height: auto;
        width: calc(100% - 40px);
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        margin-top: 0;
    }
    #print
    {
        display: none;
    }
}


