*{
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0px;    
    color: #000;
    font-weight: 400;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

img {
    width: 100%;
}

blockquote {
    margin-left: 80px;
    margin-right: 0px;
}

p, blockquote, .section, .head {
    margin-bottom: 1em;
}

h1, h2{
    font-size: 1em;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000;
}

/*
:root {
  --print-margin-top: 17.5mm;
  --print-margin-outer: 10mm;
  --print-margin-bottom: 17.5mm;
  --print-margin-inner: 30mm;
}
*/

#main,
.print-content {
    margin: 20px;
    padding-bottom: 80px;
}

.serif {
    font-family: Times, serif;
}

#display {
    text-align: center;
    font-size: 60px;
    overflow: hidden;
    height: 100vh;
}

#now-container a {
    color: #00F;
    border-bottom: 1px solid #00F;
}

/*#display[chapter='3'],
#image-container[chapter='3']
{
    background-color: #000;
}*/

#text-container:after,
#image-container:after {
    /*content: ' ';
    height: 200vh;
    display: block;
    background-color: #444;
*/}
#text-container a
{
    text-decoration: underline;
}
#text-container a:hover
{
    text-decoration: none;
}
#slide_display{
    /*margin: 20px;*/
    /*height: calc( 100vh - 40px);*/
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    box-sizing: border-box;
}
#display_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#control_display{
    position: fixed;
    top:20px;
    right: 20px;
    display: none;
    z-index: 100;
}

#home_container{
    width: 1000px;
    padding: 50px;
    text-align: center;
}
#colophon_container,
#home_container{
    width: 900px;
    margin: 0 auto;
}

#nav {
    position: fixed;
    top: 10px;
    right: 10px;
}

#nav a {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 10px;        
    display: inline-block;
    height: 16px;        
    width: 20px;
    overflow: hidden;
}

#nav a:nth-child(1) {
    color: transparent;
    background-color: #333;
}

#nav a:nth-child(2) {
    color: transparent;
    background-color: #666;
}

#nav a:nth-child(3) {
    color: transparent;
    background-color: #999;
}

#nav a:nth-child(4) {
    color: transparent;
    background-color: #AAA;
}

#nav a:hover {
    /* color: #CCC; */
}

.colophon_col{
    display: inline-block;
    width: calc((100% - 40px) / 2);
    vertical-align: top;
}
.colophon_col:last-child{
    margin-left: 40px;
}
.colophon_row{
    padding: 2px 0;
}
.colophon_row > p{
    display: inline-block;
    vertical-align: top;
}
.colophon_bullet{
    width: 40px;
}
.colophon_bullet + .colophon_text{
    width: calc(100% - 60px);
    margin-left: 20px;
}
.colophon_year{
    width: 90px;
}
.colophon_year + .colophon_text{
    width: calc(100% - 110px);
    margin-left: 20px;
}
.indent-1{
    margin-left: 40px;
}
.indent-2{
    margin-left: 80px;
}
#column_container{
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
}

.column {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /* width: 33vw; */
    white-space: initial;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
}

#black_screen{
    background-color: #000;
    color: #fff;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
}

#black_screen p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#black_screen.flashing {
    display: block;
    animation: flashing 6s linear;
}

.appendix-section div {
}

.appendix-section img {
    padding: 20px;
    width: auto;
    height: 900px;
}

.appendix-section .full-width img {
    width: 100%;
    height: auto;
}

.appendix-section .full-width.padded img {
    width: 65%;
    padding: 100px;
}

.📖-left img.trespassing-img, 
.📖-right img.trespassing-img {
    width: initial;
    height: 75mm;
    position: absolute;
}

img.trespassing-img.reversed {
    transform: rotate(180deg);
}

.📖-right img.trespassing-img {
    right: 0;
}

.justify_block {
    text-align: justify;
    text-justify: inter-word;
}

#text-container > div.image_anchor {
    height: 300px;
    margin: 20px 40px;
    border: 1px solid #000;
    transition: opacity .25s;
    background-color: #000;
}

#allcaps-container > div.image_anchor {
    height: 300px;
    margin: 20px 40px;
}

.image_anchor.viewing {
    opacity: 0;
}

#image-container {
    position: relative;
    /*height: 100vh;*/
}

#radio_container {
    overflow: hidden;
    height: 100vh;
    background-color: #CCC;
    text-align: center;
    /*color: #fff;*/
}
#radio_text
{
    text-align: center;
    font-size: 150px;
    line-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*position: absolute;
    top: 50%;
    width: auto;
    white-space: nowrap;
    padding-right: 100vw;
    padding-left: 100vw;
    animation: marquee 600s infinite linear;*/
}

#text-container span.allcaps,
#text-container .allcaps span {
    /*opacity: 0;*/
    background-color: #000;
    /*color: transparent;*/
    /*border: 1px solid #000;*/
}

#allcaps-container {
    color: rgba(255, 255, 255, 0);
    padding-top: calc(50vh + 15px);
}

#allcaps-container > div {
    padding: 0 12px;
}

#allcaps-container .image_anchor {
    border: none;
}

.mask-text-container {
    color: rgba(255, 255, 255, 0);
    /* color: #999; */
    pointer-events: none;
    width: 100%;
}

.mask-text-container blockquote {
    position: relative;
    z-index: 100;
}

.mask-text-container .chapter-number {
    color: rgba(255, 255, 255, 0);
}

.mask-text-container .section {
    color: rgba(255, 255, 255, 0);
}

.mask-text-container .section:first-line {
    color: #000;
}
.mobile.viewing-text .mask-text-container .section
{
    color: #000;
}
.mask-text-container a {
    color: rgba(255, 255, 255, 0);
}

.mask-image-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
}

.columns {
    columns: 2;
    column-gap: 40px;
}

.allcaps.viewing {
    /*display: inline-block;*/
    opacity: 1;
    color: #000;
    animation: flashing-color 1.5s forwards linear;
    position: relative;
    top: -50%;
    /*transform: translate(0, -50%);*/
}

.main-link
{
    width: 50%;
    display: inline-block;
}
#colophon-link{
    display: inline-block;
    margin-top: 50px;
}
.radio_image
{
    width: initial;
    height: 100%;
    display: none;
    margin: 0 auto;
}
.radio_text
{
    font-size: 80vh;
    line-height: calc(100vh - 40px);
    display: none;
}
.radio_slide[display_type='image'] .radio_image
{
    display: block;
}
.radio_slide[display_type='text'] .radio_text
{
    display: block;
}
.radio_slide
{
    height: calc(100vh - 40px);
    /* height: calc(100% - 40px); */
    margin-top: 20px;
    
}
.window_btn
{
    height: calc( 100% - 40px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    cursor: pointer;
}
.not_current
{
    display: none;
}
.radio_slide[display_type='whitespace']
{
    display: none;
}
#mobile_btn
{
    display: none;
}




/* 
    image classes
*/

.image-holder {
    /*padding: 0 40px;*/
}

.image-holder.centered {
    margin: 0 auto;
}

.inline-image-holder img {
    vertical-align: top;
}

.inline-image-holder[images='2'] img {
    box-sizing: border-box;
    width: 49%;
    padding: 15px;
}

.inline-image-holder[images='3'] img {
    box-sizing: border-box;
    width: 32%;
    padding: 5px;
}

.inline-image-holder[images='8'] img {
    box-sizing: border-box;
    width: 12%;
    padding: 5px;
}

.overlap-image-holder {
    position: relative;
}

.overlap-image-holder img {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
}

.overlap-image-holder[zindex='-1'] {
    z-index: -1;   
}

.overlap-image-holder[zindex='1'] {
    z-index: 1;   
}

.image-float-container:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

/* image ids */

#photorama {
    width: 85%;
    padding-top: 20px;
    padding-left: 15%;
}

#temple-hi-lo {
    width: 75%;
    padding-top: 50px;
}

#circular-time {
    width: 60%;
    padding-top: 40px;
    padding-left: 100px;
}

#stray-sh {
    width: 75%;    
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#stray-nm {
    width: 75%;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#friends-indeed-house {
    padding-top: 330px;
    width: initial;
}

.📖-left #friends-indeed-house {
    width: 115%;
}

#tree-ellipse {
    padding-top: 50px;
    width: 100%;
}

#tree-ellipse img:first-child {
}

#bombardo {
    padding-top: 100px; 
    width: 50%;
    float: right;
}

#grace-walking-and-talking {
    padding-top: 50px; 
    width: 70%;
    float: left;
}

#signal-escapes {
    padding-top: 500px;
    width: 100%;
}

.📖-left #signal-escapes {
    width: 130%;
}

#will-and-be-going-to-1,
#will-and-be-going-to-2 {
    width: 75%;    
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#studio-placard {
    width: 80%;
    padding-top: 220px;
}

#elliman {
    padding-top: 100px;
    width: 450px;
}

#seven-sleepers {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#seven-sleepers-1,
#seven-sleepers-2,
#seven-sleepers-3 {
    padding-top: 200px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#performing-garage {
    padding-top: 100px;
    padding-left: 17%;
    width: 83%;
}

#shaker {
    padding-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#bside {
    padding-top: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#ghost-song {
    padding-top: 600px;
    width: 100%;
}

.📖-left #ghost-song {
    width: 110%;
}

#record {
    padding-top: 410px;
    width: 80%;
}

#on-trespassing-recto-1 img,
#on-trespassing-recto-2 img,
#on-trespassing-recto-3 img,
#on-trespassing-recto-4 img,
#on-trespassing-recto-5 img,
#on-trespassing-recto-6 img,
#on-trespassing-recto-7 img,
#on-trespassing-recto-8 img,
#on-trespassing-recto-9 img,
#on-trespassing-recto-10 img,
#on-trespassing-recto-11 img,
#on-trespassing-recto-12 img,
#on-trespassing-verso-1 img,
#on-trespassing-verso-2 img,
#on-trespassing-verso-3 img,
#on-trespassing-verso-4 img,
#on-trespassing-verso-5 img,
#on-trespassing-verso-6 img,
#on-trespassing-verso-7 img,
#on-trespassing-verso-8 img,
#on-trespassing-verso-9 img,
#on-trespassing-verso-10 img,
#on-trespassing-verso-11 img,
#on-trespassing-verso-12 img {
    height: 260px;
    width: auto;
}

.mask-text-container #on-trespassing-recto-1 img,
.mask-text-container #on-trespassing-recto-2 img,
.mask-text-container #on-trespassing-recto-3 img,
.mask-text-container #on-trespassing-recto-4 img,
.mask-text-container #on-trespassing-recto-5 img,
.mask-text-container #on-trespassing-recto-6 img,
.mask-text-container #on-trespassing-recto-7 img,
.mask-text-container #on-trespassing-recto-8 img,
.mask-text-container #on-trespassing-recto-9 img,
.mask-text-container #on-trespassing-recto-10 img,
.mask-text-container #on-trespassing-recto-11 img,
.mask-text-container #on-trespassing-recto-12 img {
    visibility: hidden;
}

#text-container img.trespassing-img {
    position: absolute;
    right: 0px;
}

img.trespassing-img.reversed {
    transform: rotate(180deg);
}

#three-felled-trees {
    padding-top: 20px;
}

#signal-escapes-2 {
    padding-top: 30px;
    padding-left: 15%;
    position: relative;
    width: 85%;
}

#american-photographs {
    padding-top: 30px;
    padding-left: 15%;
    position: relative;
    width: 85%;
}

/*
#american-photographs {
    padding-top: 300px;
    padding-left: 300px;
}

#american-photographs img {
    width: 300px;
}
*/

#on-song {
    padding-top: 40px;
    width: 85%
}

#a-graphic-tone {
    width: 75%;
}

#a-graphic-tone img {
    height: 110px;
    width: auto;
}

#a-graphic-tone img:nth-child(1) {
    padding-top:30px;
}

#a-graphic-tone img:nth-child(2) {
    margin-left: 20px;
    padding: 20px;
}

#a-graphic-tone img:nth-child(3) {
    margin-top: 50px;
    margin-left: 20px;
}

#a-graphic-tone img:nth-child(4) {
    margin-top: -50px;
    margin-left: 300px;
}

#a-graphic-tone img:nth-child(5) {
    margin-top: 10px;
    margin-left: 100px;
}

#a-graphic-tone img:nth-child(6) {
    margin-top: -50px;
    margin-left: 440px;
}

#g- {
    width: 60%;
    padding-top: 400px;
    float: right;
}

#on-song-1 {
    padding-top:0px;
}

#on-song-1 img {
    width: 90%;
}

#on-song-2 {
}

#on-song-2 img {
    height: 110px;
    width: auto;
}

#on-song-2 img:nth-child(1) {
    margin-top: 20px;
    margin-left: 20px;
}

#on-song-2 img:nth-child(2) {
    margin-top: 250px;
    margin-left: 550px;
}

#on-song-2 img:nth-child(3) {
    margin-top: 100px;
    margin-left: 380px;
}

#on-song-2 img:nth-child(4) {
    margin-top: 50px;
    margin-left: 500px;
}

#on-song-2 img:nth-child(5) {
    margin-top: 500px;
    margin-left: 0px;
}

#on-song-2 img:nth-child(6) {
    margin-top: 350px;
    margin-left: 350px;
}

#on-song-2 img:nth-child(7) {
    margin-top: 400px;
    margin-left: 50px;
}

#on-song-2 img:nth-child(8) {
    margin-top: 550px;
    margin-left: 410px;
}

#on-song-2 img:nth-child(9) {
    margin-top: 700px;
    margin-left: 300px;
}

#tone-poem {
}

#tone-poem img {
    padding-top: 10px;
    padding-left: 17%;
    width: 45%;
}

#wet-words-1, 
#wet-words-2,
#wet-words-3 {
    width: initial;
}

.📖-left #wet-words-2 {
    width: 115%;
}

.📖-left #wet-words-3 {
    width: 115%;
}

#wet-words-3 img {
    margin-top: 15px;
    display: block;
    width: auto;
}

#wet-words-3 img:first-child {
    height: 90px;    
    margin-top: 0;
}

#wet-words-3 img:nth-child(2) {
    height: 120px;
    margin-left: 15%;
}

#wet-words-3 img:nth-child(3) {
    height: 120px;
    margin-left: 30%;
}

#wet-words-3 img:nth-child(4) {
    height: 90px;
    float: right;
    clear: both;
}

#wet-words-3 img:nth-child(5) {
    height: 90px;
    float: right;
    clear: both;
}

#wet-words-3 img:nth-child(6) {
    height: 90px;
    float: right;
    clear: both;
}

#earthly-trio {
    padding-top: 500px;
    width: 50%;
}

/*
    end images
*/



#chapter-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    list-style: none;
    line-height: 16px;
    z-index: 1000;
}

#chapter-nav li {
    display: inline-block;
    padding: 0 5px 0px 5px;
    cursor: pointer;
}

#chapter-nav a:hover {
    /*text-decoration: underline;*/
    border-bottom: 2px solid #000;
}

.head {
    padding-top: 20px;
}

.print .head {
    padding-top: initial;
}

#print {
    cursor:pointer;
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url(../../media/svg/bindery-logo40.svg);
    z-index: 1000;
}

.text-indent {
    padding-left: 50px;
}

.text-indent-2 {
    padding-left: 100px;
}

.text-indent-3 {
    padding-left: 150px;
}

.text-indent-4 {
    padding-left: 200px;
}

.text-indent, .text-indent-2, .text-indent-3, .text-indent-4 {
    /*display: inline-block;*/
    /*position: absolute;*/
}

.audio-holder {
    /* background-color: #FF0; */
    margin-top: 10px;
    text-align: center;
}

.📖-root .print-content {
    margin: 0;
    position: relative;
    z-index: 5;
    padding-bottom: 0;
}

#measure-container .print-content {
}

#print_mask {
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    z-index: 100;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.readyForPrint #print_mask
{
    display: none;
}
#print_mask p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    
/* 
.📖-controls
{
    visibility: hidden; 
    height: 0;
    overflow: hidden;
}
*/
.print-cover-img
{
    position: absolute;
    top:0;
    height: 100%;
    left: 0;
}
.print-content .image-container
{
    position: relative;
}

#zoom-in-container{
    white-space: nowrap;
}
#zoom-in-container img
{
    display: block;
}
#image-container img
{
    cursor: pointer;
}
#image-container .image-holder
{
    pointer-events: none;
}
#image-container .image-holder img,
#image-container .image-holder audio
{
    pointer-events: initial;
}
#custom-book-controls
{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 500;
}
.printing #custom-book-controls,
.printing #print-btn
{
    display: none;
}

.audio-print {
    display: none;
}

#print-container .audio-holder audio {
    display: none;
}

#print-container .audio-print {
    display: block;
    content: url(../../media/svg/lp.svg);
    width: 50px;
}



/*
    chapters & pages
*/

.chapter {
}

.page {
    position: relative;
    width: 595px;
    height: 1008px;
    /* debug */
    /*
    background-color: #CCC;
    margin-top: 10px;
    margin-bottom: 10px;
    */
}



.print .page {
    position: relative;
    width: initial;
    height: initial;
}

.page-image-caption {
    position: absolute;
    width: 100%;
    padding-top: 30px;
    padding-right: 100px;
    bottom: 0px;
}

#articulation.page-image-caption {
    bottom: -202px;
}

#shaker ~ .page-image-caption {
    bottom: -160px;
}

.mask-image-container .page-image-caption {
    color:#000;
}

.print .page-image-caption {
    padding-top: 10px;
    bottom: -250px;
}

.print #articulation.page-image-caption {
    bottom: -222px;
}

.print #shaker ~ .page-image-caption {
    bottom: -190px;
}

.print #bside ~ .page-image-caption {
    bottom: -336px;
}

/* 
this is redundant to .head but for some reason not working for sticky
head is not working for sticky either
*/
/*
.chapter .page:first-child {
    padding-top: 10px;
    margin-top: -10px;
    position: sticky;
    top: 10px;
}
*/

.📖-left #back-cover {
    width: 115%;
}

.📖-left #back-cover img {
    width: 100%;
}

.📖-left #back-cover div {
    position: absolute;
    bottom: -30px;
}

/*
    type styles
*/

.small {
    font-size: 10px;
}

.caps {
    text-transform: uppercase;
}

#staple-container {
    /* 
        positioning could be handled much better
        perhaps calc height of space where it goes?
        or moving outside of page div
    */
    position: absolute;
    top: 140mm;
    left: -32mm;
    width: 10px;
    height: 26px;
    /* border-left: 1px solid; */
    transform: rotate(270deg);
}

#print-btn {
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 8px 12px;
    z-index: 1000;
    cursor: pointer;
}
.print-test-sheet
{
    height: 283mm;
    width: 202mm;
}
.print-test-content
{
    width: 100%;
    height: 100%;
    /*border: 1px solid #000;*/
}
.print-test-sheet:nth-of-type(2n) .print-test-content
{
    background-color: blue;
}
.print-test-sheet:nth-of-type(2n+1) .print-test-content
{
    background-color: red;
}
/*body.overflow-hidden
{
    overflow: visible;
}*/
/*style for print layout*/

/*div > div
{
    margin-left: 50px;
}*/
#text-image-toggle
{
    width: 40px;
    height: 50px;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}
.mobile #text-image-toggle
{
    display: block;
}
#inner
{
    position: relative;
    height: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
}
.viewing-image #inner
{
    transform: rotateY(180deg);
}
#front, #back
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#back{
    transform: rotateY(180deg);
}
.viewing-text .mask-text-container
{
    color: #000;
    pointer-events: initial;
}
.viewing-text .image-holder,
.viewing-text .audio-holder
{
    visibility: hidden;
    opacity: 0;
}
.image-main-container .mask-image-container
{
    color: rgba(255, 255, 255, 0);
}
/*@page {
margin: 0cm !important;
}*/
.mobile .mask-text-container .chapter-number
{
    color: #000;
}
.mobile .page
{
    width: auto;
    height:  auto;
}
.mobile blockquote,
.mobile .indent {
    margin-left: 10px;
}
.mobile img
{
    max-width: 100% !important;
    height: auto !important;
    visibility: visible !important;
    /*box-sizing: border-box;*/
}
.mobile #a-graphic-tone
{
    width: 100%;
}
.mobile #a-graphic-tone img
{
    width: auto;
    height: 65px !important;
}
.mobile #a-graphic-tone img:nth-child(2)
{
    margin-left: 0;
}
.mobile #a-graphic-tone img:nth-child(3)
{
    margin-top: 30px;
    margin-left: 10px;
}
.mobile #a-graphic-tone img:nth-child(4)
{
    margin-left: 60px;
}
.mobile #a-graphic-tone img:nth-child(5)
{
    margin-left: 70px;
}
.mobile #a-graphic-tone img:nth-child(6) {
    margin-top: -20px;
    margin-left: 120px;
}
.mobile #wet-words-3 img
{
    height: 46px !important;
}
.mobile #wet-words-3 img:nth-child(2)
{
    height: 56px !important;
    margin-left: 14%;
}
.mobile #wet-words-3 img:nth-child(3)
{
    height: 60px !important;
    margin-left: auto;
    margin-right: auto;
}
.mobile #wet-words-3 img:nth-child(4)
{
    height: 48px !important;
}
.mobile #wet-words-3 img:nth-child(5)
{
    height: 48px !important;
}
.mobile #wet-words-3 img:nth-child(6)
{
    height: 48px !important;
}
.mobile #elliman
{
    width: auto;
}
.mobile .trespassing-img
{
    height: 70px !important;
}
.mobile #on-trespassing-recto-2,
.mobile #on-trespassing-verso-1
{
    /*width: 50%;*/
    /*display: inline-block;*/
}
.mobile #on-trespassing-recto-12
{
    margin-bottom: 200px;
}
.mobile #on-trespassing-verso-12
{
    margin-top: -140px;
}
.mobile .mask-image-container .trespassing-img
{
    padding-left: 50%;
}
.mobile .mask-image-container .trespassing-img.reversed
{
    padding-right: 51%;
    padding-left: 0;
}
.mobile .text-trepassing-image-holder
{
    width: 49%;
    text-align: right;
    margin-bottom: 60px;
}
.mobile #will-and-be-going-to-1, 
.mobile #will-and-be-going-to-2
{
    padding-bottom: 120px;
    width: 48.5%;
    margin-left:  0;
    margin-right:  0;
}
.mobile #will-and-be-going-to-2
{
    padding-left: 52%;
}
.mobile #seven-sleepers-1
{
    width: 48.5%;
    margin-left:  0;
    margin-right:  0;
    padding-top: 40px;
}
.mobile #seven-sleepers
{
    width: 48.5%;
    padding-left: 52%;
}
.mobile #seven-sleepers-3
{
    width: 48.5%;
    margin-left:  0;
    margin-right:  0;
    padding-bottom: 120px;
    padding-top: 60px;
}
.mobile #seven-sleepers-2
{
    width: 48.5%;
    padding-left: 52%;
    padding-top: 60px;
}
.mobile #ghost-song
{
    padding-top: 500px;
}
.mobile #record
{
    padding-top: 50px;
}
.mobile #signal-escapes-2
{
    padding-top: 150px;
}
.mobile .page-image-caption {
    padding-right: 0;
}
.mobile audio
{
    width: auto;
}
.viewing-image .window-container p,
.viewing-image .window-container blockquote,
.viewing-image .window-container .section
{
    opacity: 0 !important;
}
.viewing-text .window-container img,
.viewing-text .window-container audio
{
    opacity: 0 !important;
}

.mobile .window-container p
{
    color: black;
}
#cover-image
{
    width: 380px;
    position: absolute;
    left: 70px;
    top: 420px;
}
@keyframes flashing
{
    0%{
        background-color: #000;
    }
    19%{
        background-color: #000;
    }
    20%{
        background-color: #fff;
    }
    39%{
        background-color: #fff;
    }
    40%
    {
        background-color: #000;
    }
    59%{
        background-color: #000;
    }
    60%{
        background-color: #fff;
    }
    79%{
        background-color: #fff;
    }
    80%{
        background-color: #000;
    }
    99%{
        background-color: #000;
    }
    100%{
        background-color: #fff;
    }
}
@keyframes flashing-color
{
    0%{
        color: #fff;
    }
    19%{
        color: #fff;
    }
    20%{
        color: #000;
    }
    39%{
        color: #000;
    }
    40%
    {
        color: #fff;
    }
    59%{
        color: #fff;
    }
    60%{
        color: #000;
    }
    79%{
        color: #000;
    }
    80%{
        color: #fff;
    }
    99%{
        color: #fff;
    }
    100%{
        color: #000;
    }
}

@media screen and (max-width: 768px) {
    #column_container{
        width: 100%;
    }
    .column {
        display: block;
        width: 100%;
    }
    #radio_container
    {
        position: relative;
        /*padding: 20px;*/
    }
    .radio_image
    {
        height: auto;
        width: calc(100% - 40px);
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        margin-top: 0;
    }
    #mobile_btn
    {
        display: block;
    }
    #duo_btn
    {
        display: none;
    }
    .radio_text
    {
        font-size: 95vw;
    }
    #nav a {
        display: inline-block;
        height: 16px;
        width: 48px;
        overflow: hidden;
    }
}

}
