*{
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0px;    
    color: #000;
    font-weight: 400;
    font-family: Arial, sans-serif;
    line-height: 16px;
    font-size: 14px;
}
img
{
    width: 100%;
}

blockquote {
    margin-left: 80px;
    margin-right: 0px;
}
a{
    text-decoration: none;
    color: #000;
}
#main {
    margin: 20px;
}

.serif
{
    font-family: Times, serif;
}
#display {
    text-align: center;
    font-size: 60px;
    overflow: hidden;
    height: 100vh;
}
/*#display[chapter='3'],
#image-container[chapter='3']
{
    background-color: #000;
}*/
#text-container:after,
#image-container:after
{
    /*content: ' ';
    height: 200vh;
    display: block;
    background-color: #444;
*/}
#slide_display{
    /*margin: 20px;*/
    /*height: calc( 100vh - 40px);*/
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    box-sizing: border-box;
}
#display_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#control_display{
    position: fixed;
    top:20px;
    right: 20px;
    display: none;
    z-index: 100;
}

#home_container{
    width: 1000px;
    padding: 50px;
    text-align: center;
}
#colophon_container,
#home_container{
    width: 900px;
    margin: 0 auto;
}
.colophon_col{
    display: inline-block;
    width: calc((100% - 40px) / 2);
    vertical-align: top;
}
.colophon_col:last-child{
    margin-left: 40px;
}
.colophon_row{
    padding: 2px 0;
}
.colophon_row > p{
    display: inline-block;
    vertical-align: top;
}
.colophon_bullet{
    width: 40px;
}
.colophon_bullet + .colophon_text{
    width: calc(100% - 60px);
    margin-left: 20px;
}
.colophon_year{
    width: 90px;
}
.colophon_year + .colophon_text{
    width: calc(100% - 110px);
    margin-left: 20px;
}
.indent-1{
    margin-left: 40px;
}
.indent-2{
    margin-left: 80px;
}
#column_container{
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
}
.column {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /* width: 33vw; */
    white-space: initial;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
}
#black_screen{
    background-color: #000;
    color: #fff;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
}
#black_screen p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#black_screen.flashing{
    display: block;
    animation: flashing 6s linear;
}
#audio_container{
    height: 100vh;
    background-color: #00F;
}
#audio_container audio{
    width: 100%;
    height: 100%;
}
#text-container, 
#allcaps-container,
#image-text-container
{
    font-size: 16px;
    line-height: 20px
}
/*#text-container{
    padding-top: 15px;
}*/
/*#text-container > div
{
    margin: 0 12px;
}*/
.justify_block{
    text-align: justify;
    text-justify: inter-word;
}
#text-container > div.image_anchor
{
    height: 300px;
    margin: 20px 40px;
    border: 1px solid #000;
    transition: opacity .25s;
    background-color: #000;
}
#allcaps-container > div.image_anchor
{
    height: 300px;
    margin: 20px 40px;
}
.image_anchor.viewing
{
    opacity: 0;

}
#image-container{
    position: relative;
    /*height: 100vh;*/
}

/*#image-container img{
    opacity: 0;
}
#image-container.viewing img{
    opacity: 1;
    transition: opacity .5s;
}
#image-container img.landscape{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
#image-container img.portrait{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}*/
#radio_container{
    overflow: hidden;
    height: 100vh;
    background-color: #000;
    /*color: #fff;*/
}
#radio_text
{
    text-align: center;
    font-size: 150px;
    line-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*position: absolute;
    top: 50%;
    width: auto;
    white-space: nowrap;
    padding-right: 100vw;
    padding-left: 100vw;
    animation: marquee 600s infinite linear;*/
}
#text-container span.allcaps,
#text-container .allcaps span{
    /*opacity: 0;*/
    background-color: #000;
    /*color: transparent;*/
    /*border: 1px solid #000;*/
}
#allcaps-container
{
    color: transparent;
    padding-top: calc(50vh + 15px);
}
#allcaps-container > div
{
    padding: 0 12px;
}
#allcaps-container .image_anchor
{
    border: none;
}
#image-text-container
{
    position: absolute;
    top: 0;
    left:0;
    margin: 20px;
    /*color: #00f;*/
    color: rgba(0,0,0,0);
    /*z-index: -1;*/
}
#image-text-container .section,
#image-text-container .chapter-number
{
    color: #000;
}
.allcaps.viewing{
    /*display: inline-block;*/
    opacity: 1;
    color: #000;
    animation: flashing-color 1.5s forwards linear;
    position: relative;
    top: -50%;
    /*transform: translate(0, -50%);*/
}

.main-link
{
    width: 50%;
    display: inline-block;
}
#colophon-link{
    display: inline-block;
    margin-top: 50px;
}

.radio_image.not_current
{
    display: none;
}
.radio_image.whitespace
{
    display: none;
}

.image-holder
{
    padding: 0 40px;
}
.image-holder.centered
{
    margin: 0 auto;
}
.inline-image-holder img
{
    vertical-align: top;
}
.inline-image-holder[images='2'] img
{
    box-sizing: border-box;
    width: 50%;
    padding: 15px;
}
.inline-image-holder[images='3'] img
{
    box-sizing: border-box;
    width: 33%;
    padding: 5px;
}
.inline-image-holder[images='8'] img
{
    box-sizing: border-box;
    width: 12.5%;
    padding: 5px;
}
.overlap-image-holder
{
    position: relative;
}
.overlap-image-holder img
{
    position: absolute;
    /*top: 0;*/
    left: 0;
    width: 100%;
}
.overlap-image-holder[zindex='-1']
{
    z-index: -1;   
}
.overlap-image-holder[zindex='1']
{
    z-index: 1;   
}
#image-holder-1
{
    padding-top: 60px;
}
#image-holder-2
{
    width: 500px;
    padding-left: 250px;
    padding-top: 60px;
}
#image-holder-3
{
    width: 500px;
    /*margin-left: 250px;*/
    margin-top: 60px;
}
#image-holder-4
{
    padding-top: 600px;
    width: 400px;
}
#image-holder-5
{
    padding-top: 500px;
    /*width: 400px;*/
}
#image-holder-6
{
    padding-top: 620px;
    width: 500px;
}
#image-holder-7
{
    padding-top: 100px;
    /*width: 500px;*/
}
#image-holder-7 img:first-of-type
{
    padding-top: 140px;
}
#image-holder-8
{
    padding-top: 600px;
    width: 400px;
}
#image-holder-9
{
    width: 600px;
    padding-left: 150px;
    padding-top: 375px;
}
#image-holder-10
{
    margin-top: 800px;
    margin-left: 40px;
    width: 300px;
}
#image-holder-11
{
    padding-top: 150px;
    padding-left: 200px;
    width: 550px;
}
#image-holder-12
{
    padding-top: 350px;
    /*padding-left: 200px;*/
    width: 550px;
}
#image-holder-13
{
    padding-top: 50px;
    /*padding-left: 200px;*/
    width: 650px;
}
#image-holder-14
{
    padding-top: 120px;
    width: 700px;
}
#image-holder-14 img:last-of-type
{
    /*width: 32%;*/
    /*padding: 0 5px;*/
    /*display: inline-block;*/
    float: right;
}
#image-holder-15
{
    width: 500px;
    margin-left: 40px;
    margin-top: 50px;
}
#image-holder-15 img
{
    width: 180px;
}
#image-holder-15 img:nth-of-type(2)
{
    left:200px;
    top: 30px;
}
#image-holder-15 img:nth-of-type(3)
{
    left:400px;
    top: 60px;
}
#image-holder-16
{
    padding-top: 780px;
    width: 600px;
}
#image-holder-17{
    padding-top:250px;
}
#image-holder-17,
#image-holder-18,
#image-holder-19,
#image-holder-20,
#image-holder-21
{
    width: 600px;
    /*padding-top:20px;*/
    padding-bottom: 15px;
    
}
#image-holder-17,
#image-holder-19
{
    padding-left: 160px;
}

#image-holder-21
{
    padding-left: 100px;
}
#image-holder-22,
#image-holder-23
{
    width: 200px;
    padding-left: 400px;

}
#image-holder-23
{
    padding-top: 50px;
    padding-left: 550px;
}
#image-holder-24
{
    margin-top: 450px;
}
#image-holder-24 img:first-of-type
{
    left: 40px;
    width: 250px;
}
#image-holder-24 img:nth-of-type(2)
{
    left: 330px;
    top: 220px;
    width: 250px;
}
#image-holder-24 img:nth-of-type(3)
{
    left: 70px;
    top: 350px;
    width: 235px;
}
#image-holder-24 img:nth-of-type(4)
{
    left: 400px;
    top: 450px;
    width: 250px;
}
#image-holder-24 img:nth-of-type(5)
{
    left: 450px;
    top: 530px;
    width: 235px;
}
#image-holder-24 img:nth-of-type(6)
{
    left: 150px;
    top: 700px;
    width: 250px;
}
#image-holder-25
{
    padding-top: 1000px;
    width: 550px;
    padding-left:190px;
}
#image-holder-26
{
    padding-top: 40px;
    width: 250px;
}
#image-holder-27 img:nth-of-type(1)
{
    right: 40px;
    left: initial;
    top: -150px;
    width: 300px;
}
#image-holder-27 img:nth-of-type(2)
{
    left: 120px;
    top: 70px;
    width: 120px;
}
#image-holder-27 img:nth-of-type(3)
{
    left: 235px;
    top: 120px;
    width: 120px;
}
#image-holder-27 img:nth-of-type(4)
{
    left: 120px;
    top: 230px;
    width: 120px;
}
#image-holder-27 img:nth-of-type(5)
{
    left: 235px;
    top: 240px;
    width: 220px;
}
#image-holder-27 img:nth-of-type(6)
{
    left: 60px;
    top: 320px;
    width: 220px;
}
#image-holder-27 img:nth-of-type(7)
{
    left: 70px;
    top: 450px;
    width: 210px;
}
#image-holder-27 img:nth-of-type(8)
{
    left: 300px;
    top: 400px;
    width: 140px;
}
#image-holder-28
{
    padding-top: 1250px;
}
#chapter-nav
{
    position: fixed;
    top: 20px;
    right: 20px;
    list-style: none;
    font-size: 16px;
    line-height: 16px;
    z-index: 1000;
}
#chapter-nav li
{
    display: inline-block;
    padding: 0 5px 0px 5px;
    cursor: pointer;
}
#chapter-nav a:hover
{
    /*text-decoration: underline;*/
    border-bottom: 2px solid #000;
}
.head
{
    padding-top: 10px;
    margin-top: -10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
@keyframes flashing
{
    0%{
        background-color: #000;
    }
    19%{
        background-color: #000;
    }
    20%{
        background-color: #fff;
    }
    39%{
        background-color: #fff;
    }
    40%
    {
        background-color: #000;
    }
    59%{
        background-color: #000;
    }
    60%{
        background-color: #fff;
    }
    79%{
        background-color: #fff;
    }
    80%{
        background-color: #000;
    }
    99%{
        background-color: #000;
    }
    100%{
        background-color: #fff;
    }
}
@keyframes flashing-color
{
    0%{
        color: #fff;
    }
    19%{
        color: #fff;
    }
    20%{
        color: #000;
    }
    39%{
        color: #000;
    }
    40%
    {
        color: #fff;
    }
    59%{
        color: #fff;
    }
    60%{
        color: #000;
    }
    79%{
        color: #000;
    }
    80%{
        color: #fff;
    }
    99%{
        color: #fff;
    }
    100%{
        color: #000;
    }
}
@keyframes marquee
{
    0%{
        transform: translate3d(0, -50%, 0);
    }
    100%{
        transform: translate3d(-100%, -50%, 0);
    }
}
@media screen and (max-width: 768px) {
    #column_container{
        width: 100%;
    }
    .column {
        display: block;
        width: 100%;
    }
}


