@font-face {
    font-family: 'nycon';
    src: url('/static/fonts/nycon/NYConsolidated-Regular.eot');
    src: url('/static/fonts/nycon/NYConsolidated-Regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/nycon/NYConsolidated-Regular.woff2') format('woff2'),
         url('/static/fonts/nycon/NYConsolidated-Regular.woff') format('woff'),
         url('/static/fonts/nycon/NYConsolidated-Regular.ttf') format('truetype'),
         url('/static/fonts/nycon/NYConsolidated-Regular.svg#NYConsolidated-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nyconoblique';
    src: url('/static/fonts/nycon/NYConsolidated-Oblique.eot');
    src: url('/static/fonts/nycon/NYConsolidated-Oblique.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/nycon/NYConsolidated-Oblique.woff2') format('woff2'),
         url('/static/fonts/nycon/NYConsolidated-Oblique.woff') format('woff'),
         url('/static/fonts/nycon/NYConsolidated-Oblique.ttf') format('truetype'),
         url('/static/fonts/nycon/NYConsolidated-Oblique.svg#NYConsolidated-Oblique') format('svg');
    font-weight: normal;
    font-style: oblique;
}
